.home{
    background-image: url("images/image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
   
}
img{
    width:130px;
    height:90px;
    border-radius:50% ;
    padding: 20px;
}
nav{
  
}